button {
  display: inline-block;
  padding: 100px 25px;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 100%;
  box-shadow: 0 9px #999;
  margin-left:40%;
  margin-top: 14%;
}

p {
  font-size: 8px;
}

h1 {
  /* font-size: 1px; */

}

button:hover {background-color: #D80000}

button:active {
  background-color:	#A80000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a{
  text-decoration: none;
}

/* .error {
    width: 100px !important;
    padding: 5px !important;
    border: none !important;
    margin: 0 !important;
    background-color:red !important;
    color:white !important;
    font-family:sans-serif !important;
} */
