html {
  font-family: sans-serif;
  background-color: #3B274A;
  color:white;
}

button {
  display: inline-block;
  padding: 50px;
  font-size: 28px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 50%;
  box-shadow: 0 6px #999;
  margin-left:40%;
  margin-top: 5%;
  margin-bottom:5%;
}

button:hover {
  background-color: #D80000
}

button:active {
  background-color:	#A80000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
   text-align:center;
}

P {
  text-align: center;
  line-height: 1.5;
}

a{
  text-decoration: none;
}

.images {
  display: inline;
  margin-left: 27%;


}

img {
  width:200px;
  height: 150px;
  padding-left: 10px;
}

/* .error {
    width: 100px !important;
    padding: 5px !important;
    border: none !important;
    margin: 0 !important;
    background-color:red !important;
    color:white !important;
    font-family:sans-serif !important;
} */
